<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="side">
    <mat-action-list>
      @for (listItem of drawerList; track $index) {
      <button mat-list-item (click)="goTo(listItem.value)">{{listItem.text}}</button>
      }
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Agencia de Turismo</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>